<th:block>
    <nav class="navigationInMainSection">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/business/clients/addNewClient}">Add new client</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/business/clients/findClient}">Clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/business/loans/addLoan}">Add new loan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " th:href="@{/business/loans/findLoan}">Loans</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " th:href="@{/business/statistics}">Statistics</a>
            </li>
            <li class="nav-item">
        </ul>
    </nav>
</th:block>