<th:block>
    <nav class="navigationInMainSection">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" th:href="@{creditRiskAssets/assets/addNewAsset}">Add new Asset</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{creditRiskAssets/assets/findAsset}">Assets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{creditRiskAssets/collaterals/addCollateralFromAsset}">Add Collateral from existing Asset</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " th:href="@{creditRiskAssets/collaterals/findCollateral}">Collaterals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " th:href="@{creditRiskAssets/collateralTypes/collateralCategorization}">Collateral categorization</a>
            </li>
            <li class="nav-item">
        </ul>
    </nav>
</th:block>