<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:insert="~{/fragments/head}"/>
    <title>Acquired assets</title>
</head>
<body>

<th:block th:insert="~{/fragments/header}"/>

<main>
  <th:block th:insert="~{/fragments/acquired-nav}"/>
</main>

<!--  <main>-->
<!--    <nav>-->
<!--      <ul>-->
<!--        <li> <a th:href="@{/addAcquiredAsset}">Add acquired Asset</a></li>-->
<!--        <li> <a th:href="@{/findAsset}">Find asset</a></li>-->
<!--        <li> <a th:href="@{/statistics}">Statistics</a></li>-->
<!--      </ul>-->
<!--    </nav>-->

<!--  </main>-->

  <th:block th:insert="~{/fragments/footer}"/>

</body>
</html>