<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CollateralManagement</title>
</head>
<body>
  <header>
    <div>
      <p>Put here Full name of the user and move it to the right corner</p>
      <button>Logout</button>
    </div>

  </header>
  <main>
    <nav>
      <ul>
        <li> <a href="#">Add acquired Asset</a></li>
        <li> <a href="#">Find asset</a></li>
        <li> <a href="#">Statistics</a></li>
      </ul>
    </nav>

  </main>
  <footer>

  </footer>

</body>
</html>