<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:insert="~{/fragments/head}"/>
    <title>Acquired assets</title>
</head>
<body>

<th:block th:insert="~{/fragments/header}"/>

<main>
  <div class="container-fluid">
    <div class="row">

      <div class="col-2">
        <th:block th:insert="~{/fragments/acquired-nav}"/>
      </div>
      <div class="col-10">
        <table class="table table-bordered table-sm mt-2">
          <thead>
          <tr>
            <th>Id</th>
            <th>AssetId</th>
            <th>Acquisition Date</th>
            <th>Description</th>
            <th>Keyword</th>
            <th>Market Value</th>
            <th>Management Strategy</th>

          </tr>
          </thead>
          <tbody>
          <tr th:each="a : ${displayAcquiredAssetDTO}" >
            <td th:text="${a.id}"></td>
            <td th:text="${a.assetId}"></td>
            <td th:text="${a.acquisitionDate}"></td>
            <td th:text="${a.description}"></td>
            <td th:text="${a.keyword}"></td>
            <td th:text="${a.marketValue} ?: 'Not Evaluated'"></td>
            <td th:text="${a.managementStrategy}"></td>
          </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>




</main>

  <th:block th:insert="~{/fragments/footer}"/>

</body>
</html>