<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{/fragments/head}"/>
    <title>Add loan</title>
</head>
<body>

<th:block th:insert="~{/fragments/header}"/>

<div class="container-fluid">
    <div class="row">

        <div class="col-2">
            <th:block th:insert="~{/fragments/acquired-nav}"/>
        </div>
        <div class="col-lg-5">
            <div class="container mb-xl-auto">
                <h6 >Choose an asset by their owner</h6>
                <form th:action="@{/acquiredAssets/add}" th:method="GET">
                    <input type="text" name="owner" th:value="${owner}"  placeholder="Find by Owner Name" size="50" >
                    <button type="submit" class="btn btn-info" value="GetForm">Search</button>
                </form>
                <table class="table table-bordered table-sm mt-2">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Description</th>
                        <th>Ownership document</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="a : ${displayAssetDTOS}" >
                        <td th:text="${a.id}"></td>
                        <td th:text="${a.description}"></td>
                        <td th:text="${a.ownershipDocument}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>


        <div class="addAcquiredForm col-lg-5">
            <form th:action="@{/acquiredAssets/save}" th:object="${addAcquiredAssetDTO}"  th:method="POST">
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                    <label for="assetId">AssetId</label>
                        <select class="form-control" id="assetId"
                        th:field="*{assetId}">
                            <option value="0">select asset</option>
                            <option th:each="a : ${displayAssetDTOS}" th:value="${a.id}" th:text="${a.id}"></option>
                        </select>
                    <small th:if="${#fields.hasErrors('assetId')}" th:errors="*{assetId}" class="text-danger">Asset error message.</small>
                </div>
                </div>

                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label for="acquisitionDate">Issue date</label>
                        <input type="date" class="form-control" id="acquisitionDate" placeholder="Enter issue date" required
                               th:field="*{acquisitionDate}"
                               th:errorclass="is-invalid"
                               th:required="required">
                        <small th:if="${#fields.hasErrors('acquisitionDate')}" th:errors="*{acquisitionDate}" class="text-danger">Acquisition date error message.</small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label for="saleDate">Sale date</label>
                        <input type="date" class="form-control" id="saleDate" placeholder="Enter sale date"
                               th:field="*{saleDate}"
                               th:errorclass="is-invalid">
                        <small th:if="${#fields.hasErrors('saleDate')}" th:errors="*{saleDate}" class="text-danger">Sale date error message.</small>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="managementStrategy">Management Strategy</label>
                        <textarea type="text" class="form-control" id="managementStrategy" placeholder="Management Strategy" required
                                  th:field="*{managementStrategy}"
                                  th:errorclass="is-invalid"></textarea>
                        <small th:if="${#fields.hasErrors('managementStrategy')}" th:errors="*{managementStrategy}" class="text-danger">Management Strategy error message.</small>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-2 mb-3">
                        <label for="active">Active: </label>
                        <input type="checkbox" class="form-control" id="active"
                               th:field="*{active}"
                               th:errorclass="is-invalid">
                        <small th:if="${#fields.hasErrors('active')}" th:errors="*{active}" class="text-danger">Active error message.</small>
                    </div>
                </div>
                <button  class="btn btn-primary" type="submit" value="SaveForm">Save</button>

            </form>

        </div>
    </div>
</div>

<th:block th:insert="~{/fragments/footer}"/>

</body>
</html>