<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{/fragments/head}"/>
    <title>Add loan</title>
</head>
<body>

<th:block th:insert="~{/fragments/header}"/>

<div class="container-fluid">
    <div class="row">

        <div class="col-4">
            <th:block th:insert="~{/fragments/collateral-nav}"/>
        </div>

        <div class="addLoanForm col-lg-6">
            <form th:action="@{/collaterals/assets/addNewAsset/save}" th:object="${createAssetDTO}"  th:method="POST">
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="description">Description</label>
                        <textarea type="text" class="form-control" id="description" placeholder="Enter detailed description of the item" required
                                  th:field="*{description}"
                                  th:errorclass="is-invalid"
                                  th:required="required"></textarea>
                        <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger">Description error message.</small>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="keyword">Description Keyword</label>
                        <input type="text" class="form-control" id="keyword" placeholder="Enter the shortest way to identify the item" required
                               th:field="*{keyword}"
                               th:errorclass="is-invalid"
                               th:required="required">
                        <small th:if="${#fields.hasErrors('keyword')}" th:errors="*{keyword}" class="text-danger">Keyword error message.</small>
                    </div>

                </div>

                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="owner">Current Owner</label>
                        <input type="text" class="form-control" id="owner" placeholder="Enter one or multiple owners" required
                               th:field="*{owner}"
                               th:errorclass="is-invalid"
                               th:required="required">
                        <small th:if="${#fields.hasErrors('owner')}" th:errors="*{owner}" class="text-danger">Owner error message.</small>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="ownershipDocument">Ownership document</label>
                        <input type="text" class="form-control" id="ownershipDocument" placeholder="Enter ownership document details"
                               th:field="*{ownershipDocument}"
                               th:errorclass="is-invalid">
                        <small th:if="${#fields.hasErrors('ownershipDocument')}" th:errors="*{ownershipDocument}" class="text-danger">Loan amount error message.</small>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="accountableDepartment">Accountable Department</label>
                        <select id ="accountableDepartment" name="accountableDepartment" class="form-control"
                                th:field="*{accountableDepartment}">
                            <option value="">Select responsible department for this asset</option>
                            <option th:each="d : ${T(com.example.collateralmanagement.models.enums.DepartmentEnum).values()}"
                                    th:value="${d}"
                                    th:text="${d.name()}"
                                    th:selected="${d} == *{accountableDepartment}" >
                            </option>
                        </select>
                        <small th:if="${#fields.hasErrors('accountableDepartment')}" th:errors="*{accountableDepartment}" class="text-danger">Department error message.</small>
                    </div>
                </div>


                <button  class="btn btn-primary" type="submit">Add Asset</button>

            </form>


        </div>
    </div>
</div>

<th:block th:insert="~{/fragments/footer}"/>

</body>
</html>