<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <th:block th:insert="~{/fragments/head}"/>
    <title>Add loan</title>
</head>
<body>

<th:block th:insert="~{/fragments/header}"/>
<main>

<div class="container-fluid">
    <div class="row">

        <div class="col-4">
            <th:block th:insert="~{/fragments/creditRiskAssets-nav}"/>
        </div>

        <div class="addCollateralForm col-lg-6">
            <form th:action="@{/creditRiskAssets/collaterals/save}" th:object="${createCollateralDTO}"  th:method="POST">
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="assetId">Asset Id</label>
                        <input type="number" class="form-control" id="assetId" placeholder="Enter assetId" required
                               th:field="*{assetId}"
                               th:errorclass="is-invalid"
                               th:required="required">
                        <small th:if="${#fields.hasErrors('assetId')}" th:errors="*{assetId}" class="text-danger">Asset Id error message.</small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="dateOfLinkToLoan">Start date of connection to active loans</label>
                        <input type="date" class="form-control" id="dateOfLinkToLoan" placeholder="Enter date" required
                           th:field="*{dateOfLinkToLoan}"
                           th:errorclass="is-invalid"
                           th:required="required">
                        <small th:if="${#fields.hasErrors('dateOfLinkToLoan')}" th:errors="*{dateOfLinkToLoan}" class="text-danger">Date error message.</small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="loanNumber">Loan Number</label>
                        <input type="text" class="form-control" id="loanNumber" placeholder="Enter loanNumber" required
                               th:field="*{loanNumber}"
                               th:errorclass="is-invalid"
                               th:required="required">
                        <small th:if="${#fields.hasErrors('loanNumber')}" th:errors="*{loanNumber}" class="text-danger">Loan Number error message.</small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="initialCollateralValue">Initial collateral value</label>
                        <input type="number" class="form-control" id="initialCollateralValue" placeholder="Enter collateral value" required
                               th:field="*{initialCollateralValue}"
                               th:errorclass="is-invalid"
                               th:required="required">
                        <small th:if="${#fields.hasErrors('initialCollateralValue')}" th:errors="*{initialCollateralValue}" class="text-danger">Collateral value error message.</small>
                    </div>
                </div>

                <button  class="btn btn-primary" type="submit">Save</button>

            </form>


        </div>
    </div>
</div>

</main>

<th:block th:insert="~{/fragments/footer}"/>

</body>
</html>