<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{/fragments/head}"/>
    <title>Add loan</title>
</head>
<body>

<th:block th:insert="~{/fragments/header}"/>

<div class="container-fluid">
    <div class="row">

        <div class="col-4">
            <th:block th:insert="~{/fragments/creditRiskAssets-nav}"/>
        </div>

        <div class="addCollateralForm col-lg-6">
            <form th:action="@{/creditRiskAssets/collaterals/addCollateralFromAsset/save}" th:object="${createCollateralDTO}"  th:method="POST">
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="assetId">Asset Id</label>
                        <input type="number" class="form-control" id="assetId" placeholder="Enter assetId" required
                               th:field="*{assetId}"
                               th:errorclass="is-invalid"
                               th:required="required">
                        <small th:if="${#fields.hasErrors('assetId')}" th:errors="*{assetId}" class="text-danger">Asset Id error message.</small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="loanNumber">Loan Number</label>
                        <input type="text" class="form-control" id="loanNumber" placeholder="Enter loanNumber" required
                               th:field="*{loanNumber}"
                               th:errorclass="is-invalid"
                               th:required="required">
                        <small th:if="${#fields.hasErrors('loanNumber')}" th:errors="*{loanNumber}" class="text-danger">Loan Number error message.</small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="collateralType">Collateral Type</label>
                        <select id ="collateralType" name="collateralType" class="form-control"
                                th:field="*{type}">
                            <option value="">Select collateral type</option>
                            <option th:each="aType : ${T(com.example.collateralmanagement.models.enums.CollateralCategory).values()}"
                                    th:value="${aType}"
                                    th:text="${aType.name()}"
                                    th:selected="${aType} == *{type}" >
                            </option>
                        </select>
                        <small th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="text-danger">Collateral type error message.</small>
                    </div>

                </div>


                <button  class="btn btn-primary" type="submit">Save</button>

            </form>


        </div>
    </div>
</div>

<th:block th:insert="~{/fragments/footer}"/>

</body>
</html>