<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{/fragments/head}"/>
    <title>Collateral Management</title>
</head>
<body>

<th:block th:insert="~{/fragments/header}"/>

<div class="container-fluid">
<div class="row">


    <div class="col-4">
        <th:block th:insert="~{/fragments/business-nav}"/>
    </div>

    <div class="addClientForm col-lg-6">
        <form th:action="@{/business/clients/save}" th:object="${addClientDTO}"  th:method="POST">

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="identificationNumber">Identification Number</label>
                    <input type="text" class="form-control" id="identificationNumber" placeholder="Enter EGN, BULSTAT or other" required
                           th:field="${addClientDTO.identificationNumber}"
                           th:errorclass="is-invalid"
                           th:required="required">
                    <small th:if="${#fields.hasErrors('identificationNumber')}" th:errors="*{identificationNumber}" class="text-danger">Identification Number error message.</small>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="name">Full name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter client's full name" required
                           th:field="${addClientDTO.name}"
                           th:errorclass="is-invalid"
                           th:required="required">
                    <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Full name error message.</small>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="clientType">Client Type</label>
                    <select id ="clientType" name="clientType" class="form-control"
                            th:field="${addClientDTO.clientType}">
                        <option value="">Select client type</option>
                        <option th:each="aType : ${T(com.example.collateralmanagement.models.enums.ClientType).values()}"
                                th:value="${aType}"
                                th:text="${aType.displayValue}"
                                th:selected="${aType} == *{clientType}" >
                        </option>
                    </select>
                    <small th:if="${#fields.hasErrors('clientType')}" th:errors="*{clientType}" class="text-danger">Client type error message.</small>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="contacts">Contact Information</label>
                    <textarea type="text" class="form-control" id="contacts" name="contacts" placeholder="Enter client's telephone number, address, email or other."
                              th:field="*{contacts}"
                              th:errorclass="is-invalid"></textarea>
                    <small th:if="${#fields.hasErrors('contacts')}" th:errors="*{contacts}" class="text-danger">Contacts error message.</small>

                </div>
            </div>

            <button  class="btn btn-primary" type="submit">Add client</button>

        </form>
    </div>
</div>
</div>

    <th:block th:insert="~{/fragments/footer}"/>
</body>
</html>