<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:insert="~{/fragments/head}"/>
    <title>Admin Panel</title>
</head>
<body>

<th:block th:insert="~{/fragments/header}"/>

<main>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/adminPanel/register}">Register User</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/adminPanel/updateUser}">2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/adminPanel/deleteUser}">3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " th:href="@{/adminPanel/Departments}">4</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " th:href="@{/adminPanel/CollateralTypes}">5</a>
        </li>
        <li class="nav-item">
    </ul>

</main>


<th:block th:insert="~{/fragments/footer}"/>
</body>
</html>