<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="~{/fragments/head}"/>
    <title>Business</title>
</head>
<body>

<th:block th:insert="~{/fragments/header}"/>

  <main>
    <nav>
      <ul>
        <li> <a th:href="@{/business/clients/addNewClient}">Add new client</a></li>
        <li> <a th:href="@{/business/clients/findClient}">Find Client</a></li>
        <li> <a th:href="@{/business/loans/addLoan}">Add new loan</a></li>
        <li> <a th:href="@{/business/loans/findLoan}">Find Loan</a></li>
        <li> <a th:href="@{/business/statistics}">Statistics</a></li>
      </ul>
    </nav>

  </main>

  <th:block th:insert="~{/fragments/footer}"/>

</body>
</html>