<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:insert="~{/fragments/head}"/>
    <title>Business</title>
</head>
<body>

<th:block th:insert="~{/fragments/header}"/>

  <main>

    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/business/clients/addNewClient}">Add new client</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" th:href="@{/business/clients/findClient}">Clients</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" th:href="@{/business/loans/addLoan}">Add new loan</a>
      </li>
      <li class="nav-item">
      <a class="nav-link " th:href="@{/business/loans/findLoan}">Loans</a>
      </li>
      <li class="nav-item">
      <a class="nav-link " th:href="@{/business/statistics}">Statistics</a>
      </li>
      <li class="nav-item">
    </ul>

  </main>

  <th:block th:insert="~{/fragments/footer}"/>

</body>
</html>