<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"/>
    <title>Collaterals</title>
</head>
<body>

<th:block th:insert="~{/fragments/header}"/>

    </header>
    <main>
        <nav>
            <ul>
                <li> <a th:href="@{/addNewAsset}">Add new Asset</a></li>
                <li> <a th:href="@{/findAsset}">Find Asset</a></li>
                <li> <a th:href="@{/addCollateralFromAsset}">Add Collateral from existing Asset</a></li>
                <li> <a th:href="@{/findCollateral}">Find Collateral</a></li>
                <li> <a th:href="@{/collateralCategorization}">Collateral categorization</a></li>
            </ul>
        </nav>

    </main>

    <th:block th:insert="~{/fragments/footer}"/>

</body>
</html>