<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{/fragments/head}"/>
    <title>Collaterals</title>
</head>
<body>

<th:block th:insert="~{/fragments/header}"/>

<main>

    <div class="container-fluid">
        <div class="row">

            <div class="col-2">
                <th:block th:insert="~{/fragments/collateral-nav}"/>
            </div>

            <div class="col-10">
                <h6> Here is a list of collaterals of the most recent active loans</h6>
            </div>

        </div>
    </div>


</main>

    <th:block th:insert="~{/fragments/footer}"/>

</body>
</html>