<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CollateralManagement</title>
</head>
<body>
    <header>
            <a href="/"><img alt="logo picture" src="/templates/img/logo.png"></a>
        <div>
            <p>Full Name</p>
            <button>Logout</button>
        </div>

    </header>
    <main>
        <h1> Collateral Management</h1>
        <nav>
            <ul>
                <li> <a href="/business">Business Section</a></li>
                <li> <a href="/collaterals">Collaterals</a></li>
                <li> <a href="/evaluations">Evaluations</a></li>
                <li> <a href="/acquiredAssets">Acquired Assets</a></li>
            </ul>
        </nav>

    </main>
    <footer>

    </footer>



</body>
</html>