<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{/fragments/head}"/>
    <title>CollateralManagement</title>
</head>
<body>

<th:block th:insert="~{/fragments/header}"/>

    <main>

       <div class="container-fluid" >

           <div class="row">
               <h6>Here is information about the most recent activity of the current user.</h6>

           </div>

       </div>


    </main>

    <th:block th:insert="~{/fragments/footer}"/>


</body>
</html>